<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">
<listeners>
<listener class-name ="BasePackage.Listeners"/>
</listeners>
  <test thread-count="5" name="PlaceOrderTest">
    <classes>
      <class name="SeleniumProject.TestorderTest"/>
    </classes>
    
   </test> <!-- Test -->
   <test thread-count="5" name="ErrorMessageValidationTest">
   <classes>
      <class name="SeleniumProject.ErrorMessageValidationTest"/>
    </classes>
   </test>
</suite> <!-- Suite -->
